@media screen and (max-width: $sm-width - 1)
  .home
    .home-b
      .home-bnr,
      .home-intro,
      .home-safenet
        padding: 76px 0
      .home-bnr
        padding-bottom: 0
        &:after
          width: 80%
          height: 260px
          position: relative
          margin: 0 auto
          transform: translate(0, 20px)
        .home-bnr-b
          .home-bnr-para
            width: 100%
            &:after
              width: 50%
      .home-intro
        .home-intro-b
          .home-intro-p
            width: 100%
      .home-safenet
        padding-bottom: 120px
        .home-safenet-b
          .home-safenet-med
            width: 100%
            img
              width: 50%
              min-width: 290px
          .home-safenet-p
            width: 80%
            margin-top: 40px
            float: left
            position: relative
            .arrow-red
              position: absolute
              bottom: 0
              left: 100%
