/* Media Less than 480px */
@media only screen and (min-width : 320px) and (max-width : 511px) {
  /* Common */
  .wrapper {
    padding: 0;
  }
  .location.map {
    display: none;
  }
  .location.img {
    display: block;
  }
  .location.img img {
    width: 100%;
  }
  /* #Common */

  /* base */
  .base-1 {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  /* base */

  .media-lnks {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .media-lnks .media-lnks-b .media-lnks-i {
    width: 33.33%;
  }

  .media-lnks .media-lnks-b .media-lnks-i a {
    width: 100%;
    display: block;
    margin: 0 auto;
    background-size: 1000px;
  }

  /* primary nav */
  .primary-nav .primary-nav-b > li:not(.nav-dropdown) {
    display: none;
  }
  .nav-dropdown > .show-on-mob {
    display: table-cell !important;
  }

  .nav-dropdown > a:not(.show-on-mob) {
    display: none !important;
  }

  .nav-dropdown .nav-dropdown-b > .show-on-mob {
    display: block !important;
  }
  /* primary nav */

  /* Home Banner */
  .home-bnr .home-bnr-b .label-1 {
    display: none;
  }
  .home-bnr .home-bnr-b .label-1.for-touch {
    padding: 0 16px;
    display: block;
  }
  .home-bnr .home-bnr-b .content {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .home-bnr:before {
    background-image: url(../img/safe_network_bg.png);
  }
  .home-bnr:after {
    display: none;
  }

  .home-bnr .home-bnr-b .downloads.desktop-view {
    margin-top: 100px;
  }

  .home-bnr .home-bnr-b .download-lnk-btn, .home-bnr .home-bnr-b .download-i .desc {
    display: none;
  }

  .home-bnr .home-bnr-b .downloads.desktop-view .download-i {
    width: 100%;
    margin-bottom: 80px;
  }
  .home-bnr .home-bnr-b .downloads.desktop-view .download-lnk-btn, .home-bnr .home-bnr-b .downloads.desktop-view .download-i .desc {
    display: inline-block;
  }

  .no-support-content {
    display: block !important;
  }
  .no-support-content.desktop-view {
    display: none !important;
  }
  .home-bnr .home-bnr-b .downloads.desktop-view ~ .no-support-content {
    display: none !important;
  }
  /* #Home Banner */

  /* Page Banner */
  /* Page banner height and label font varies */
  .page-banner {
    height: 200px;
  }

  .page-banner.home-like {
    height: 260px;
  }

  /* #Page Banner */

  /* Typing */
  /* Typing curser size varies */
  .typing.lg {
    line-height: 36px;
  }

  .typing.lg:after {
    height: 32px;
  }
  /* #Typing */

  /* Page Type 1 */
  /* Page-1 title and margin varies */
  .page-1 {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  .page-1 .title {
    font-size: 38px;
    line-height: 49px;
  }
  .page-1-base {
    width: 100%;
    margin: 0;
  }
  /* #Page Type 1 */
  .layout-1 {
    width: 100%;
  }
  .layout-1 .lsec {
    width: 100%;
    padding: 0;
  }
  .layout-1 .rsec {
    width: 100%;
    padding: 0;
  }

  /* Page 2 */
  .page-2 {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }

  .page-2 .title {
    font-size: 38px;
    line-height: 49px;
  }

  .page-2 .page-2-media {
    display: block;
  }

  .page-2 .page-2-media .media-src {
    width: 100%;
    margin: 0 auto;
    display: block;
  }

  .page-2 .page-2-media .media-content {
    width: 100%;
    display: block;
    padding-top: 40px;
    padding-left: 24px;
  }
  /* #Page 2 */

  /* POST 1 */
  .post-1 {
    width: 100%;
    display: block;
  }
  .post-1 .media {
    width: 100%;
    padding: 0 16px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    text-align: center;
    z-index: 100;
  }
  .post-1 .media img  {
    display: block;
    width: 100%;
    height: 360px;
    margin: 0 auto;
    padding: 0;
  }
  .post-1.flip .media {
    padding: 0 16px;
  }
  .post-1 .media iframe {
    width: 100%;
    padding: 0;
    margin: 0;
    height: 200px;
  }
  .post-1 .content {
    width: 100%;
    text-align: left;
    padding: 350px 16px 0;
    position: relative;
    z-index: 99;
  }
  .post-1 .content .title {
    margin-top: 0;
    text-align: center;
  }
  .post-1 .content .p {
    text-align: justify;
  }
  /* #POST 1 */

  /* MaidSafe Team Banner height changes */
  .page-banner.maidsafe-team {
    height: 200px;
  }
  /* #MaidSafe Team Banner height changes */

  /* Box 1 */
  .box-1 .item:first-child {
    width: 100%;
    padding: 0;
  }

  .box-1 .item:nth-child(2),.box-1 .item:last-child  {
    width: 100%;
    padding: 30px 0 0 0;
  }
  /* #Box 1 */

  /* Box 2 */
  .box-2 .item {
    width: 100%;
    float: none;
    padding: 30px 0 0 !important;
  }
  /* #Box 2 */

  /* Accordian */
  .accordian ul li h3 {
    font-size: 18px;
    line-height: 22px;
  }
  /* #Accordian */
  /* Footer */
  .app-footer .app-footer-b {
    width: 100%;
    padding: 0 16px;
  }
  .app-footer .app-footer-r.top {
    width: 100%;
  }
  .app-footer-btns-b {
    justify-content: flex-start;
  }
  .footer-wig-a:first-child {
    width: 100%;
  }
  .footer-wig-a:nth-child(2) {
    padding-right: 8px;
  }
  .footer-wig-a:last-child {
    float: none;
    padding-left: 8px;
  }
  .footer-wig-a-cont {
    padding: 0;
  }
  .footer-wig-b {
    width: 100%;
  }
  .footer-hz-li ul {
    text-align: center;
  }
  .footer-hz-li ul:after {
    content: "";
    display: block;
    clear: both;
    visibility: hidden;
  }
  .footer-hz-li ul li {
    width: 33.33%;
    padding: 0;
    float: left;
  }
  .footer-hz-li ul li:last-child {
    width: 100%;
    padding-top: 16px;
  }
  /* #Footer */
  /* Content 1 */
  .content-1 {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  /* #Content 1 */
  /* Post 2 */
  .post-2 {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    display: block;
  }
  .post-2 > .title {
    width: 100%;
    padding: 0;
    text-align: center;
    transform: translateX(0);
  }
  .post-2 .post-2-content {
    display: block;
    width: 100%;
  }

  .post-2 .post-2-content p {
    text-align: justify;
  }
  .post-2 .post-2-media {
    display: block;
    width: 100%;
    padding: 20px 0;
  }
  .post-2 .post-2-media img {
    margin: 0;
    padding: 0;
    width: auto;
  }
  .post-2 .post-2-media iframe {
    padding: 0;
    margin: 0;
    height: 200px;
  }
  .post-2.flip .post-2-content, .post-2.flip .post-2-media {
    transform: translateX(0);
  }
  /* #Post 2 */
  /* Team Img*/
  .team-img .team-img-i {
    width: 20%;
    height: auto;
  }
  /* #Team Img*/
  /* Post 3 */
  .post-3 {
    width: 100%;
    overflow: hidden;
  }
  .post-3 .post-3-cont .post-3-cont-i {
    width: 100%;
    padding: 0 16px;
  }
  .post-3 .post-3-cont .ques span {
    display: block;
    padding-right: 0;
    padding-bottom: 20px;
  }
  /* #Post 3 */
  /* Overlay */
  .overlay .overlay-cont {
    width: 100%;
    padding: 0 32px;
  }
  .overlay .overlay-cont .overlay-cont-i iframe {
    height: 235px;
  }
  /* #Overlay */

  /* Content 3 */
  .content-3 {
    width: 100%;
    padding-left: 16px;
    padding-right: 16px;
  }
  /* #Content 3 */
  .credits-logo {
    margin: 50px 25px 0 0;
  }
  .footer-hz-li {
    padding: 22px 16px 16px;
  }

  /* Roadmap */
  .roadmap {
    /*display: flex;*/
    height: auto;
  }
  .roadmapBreadcrumb {
    padding: 8px 20px 0;
  }
  .roadmapBreadcrumb .breadcrumb-i {
    padding-bottom: 8px;
  }
  .roadmapSvg {
    display: none;
  }
  .roadmap .roadmapNav {
    width: 100% !important;
    height: 100%;
    position: fixed !important;
    top: 0 !important;
    left: -100% !important;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 98;
    overflow: hidden;
  }
  .roadmap .roadmapNav.open {
    left: 0 !important;
  }
  .roadmap .roadmapNav .roadmapNav-b {
    width: 80%;
    padding-top: 70px;
    overflow: auto;
  }
  .roadmap .roadmapChart {
    width: 100%;
  }
  .roadmapChart-h {
    padding: 0;
  }
  /*.roadmapChart-h:before {
    content: '';
    width: 100%;
    height: 50px;
    display: block;
    background-color: #2a98ea;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }*/
  .roadmapChart-h .roadmapChart-h-menu {
    display: block;
  }
  .roadmapChart-h-t {
    width: 100%;
    padding-left: 50px;
    padding-right: 0;
    color: white !important;
    line-height: 50px;
    position: relative;
  }
  .roadmapChart-h-t:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  .roadmapChart-h-t  > div {
    width: 100%;
    padding-right: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .roadmapChart-h-t .info-icon {
    display: none !important;
  }
  .roadmapChart-h-desc {
    /*display: block !important;*/
    /*padding: 8px 20px 0;*/
    display: none;
  }
  .roadmapChart-h-desc-title {
    display: block;
    padding: 20px 0 8px;
    font-size: 19px;
    color: #282828;
    font-weight: 600;
  }
  .listTitle {
    width: 100%;
    padding-top: 16px;
  }

  .al-content {
    width: 100%;
    padding: 0 16px;
    border-color: transparent;
  }

  .al-banner-cont {
    width: 100%;
    padding: 0 16px;
  }

  .al-download-sec {
    padding-left: 0;
    margin-top: 60px;
    margin-bottom: 22px;
    text-align: center;
  }

  .al-download-desc {
    text-align: center;
  }

  .al-download-sec .al-download-icn {
    width: 100%;
  }

  .al-download-sec .al-download-lnk {
    display: none;
  }

  /* list content */
  .list-content .list-content-b {
    width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
  }
  .list-content .quote {
    text-align: center;
  }
  .list-content .quote span, .list-content .quote button {
    float: none;
  }
  .list-content .quote span {
    display: block;
    line-height: 24px;
  }
  .list-content .quote .al-btn {
    margin-top: 20px;
  }
  .list-content .tbl-view {
    display: block;
  }
  .list-content .tbl-c {
    width: 100% !important;
    display: block !important;
    /*border: none !important;
    padding: 0 !important;
    margin: 0 !important;*/
  }
  /*.list-content .tbl-c:not(:last-child) {
    padding-bottom: 60px !important;
  }*/
  .list-content.type-6 .title {
    width: 100%;
    display: block;
  }
  .download-btn {
    margin: 0 0 20px;
  }
  /* list content */
  .platform.unix-platform .mob-alert {
    display: block;
  }

  .al-download {
    padding: 0;
  }

  .al-download .platform {
    display: none !important;
  }

  .al-download .desktop-view.platform {
    margin-top: 100px;
    display: block !important;
    padding: 0 0 140px;
  }

  .al-download .desktop-view .al-download-i {
    width: 100%;
    margin-bottom: 80px;
  }
  .al-bg-blue .al-download .platform {
    margin-top: 0;
  }

  .al-bg-blue .al-download .platform .al-download-i:last-child {
    margin-bottom: 0;
  }
  .al-media {
    width: 100%;
    height: auto;
  }

  .al-media img {
    height: auto;
    width: 100%;
  }
  .al-banner:after {
    background-image: url(../img/alpha_mobile.png);
  }
  .al-banner:before {
    display: none;
  }
  .download-sec .download-sec-media {
    margin-bottom: 80px;
  }
  .download-sec .download-sec-media, .download-sec .download-sec-cnt {
    width: 100%;
  }
  .downloading-banner:before {
    display: none;
  }
  .al-bg-blue.touch-view {
    display: none;
  }
  .al-bg-blue .al-download .platform.desktop-view {
    padding: 0;
  }
  .downloading-banner:after {
    background-image: url(../img/alpha_mobile.png);
  }
  .b2f-bnr .bnr-img img {
    width: 100%;
  }
  .b2f-bnr:before {
    background-image: url(../img/safe_network_bg.png);
  }
  .b2f-bnr:after {
    display: none;
  }

  /* timeline */
  .timeline {
    display: block;
    margin-top: 40px;
    position: relative;
  }
  .timeline .title,
  .timeline .cntr {
    display: block;
  }
  .timeline .title {
    margin-bottom: 40px;
    padding-left: 58px;
  }
  .timeline .cntr {
    padding-left: 2px;
  }
  .timeline .timeline-i {
    padding-left: 58px;
  }
  .timeline-connect {
    position: absolute;
    width: 100%;
    min-height: 200px;
    top: 0;
    left: 2px;
  }
  .timeline .timeline-i .highlight {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
  }
  .timeline .timeline-i .highlight:before, .timeline .timeline-i .highlight:after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
    z-index: 0;
  }
  .timeline .timeline-i .highlight:before {
    left: -100%;
  }
  .timeline .timeline-i .highlight:after {
    right: -100%;
  }
  /* timeline */
  .bnr-1 .bnr-1-i a {
    width: 100%;
    padding-bottom: 150px;
  }
  .bnr-1 .bnr-1-i a .botton-img {
    width: 96%;
    margin-left: 0;
    left: 2%;
    height: 150px;
  }

  .bnr-1 .bnr-1-i a .left-img, .bnr-1 .bnr-1-i a .right-img {
    display: none;
  }

  .bnr-2-i {
    padding-top: 28px;
  }
  .bnr-2-i .base-1 {
    padding-bottom: 135px;
  }
  .bnr-2-i .label-1 {
    font-size: 18px;
    padding-bottom: 22px;
  }
  .bnr-2-i .label-2 {
    font-size: 17px;
    padding-bottom: 22px;
  }
  .bnr-2-i .label-2 span {
    font-size: 32px;
  }
  .bnr-2-i .label-3 {
    font-size: 14px;
    width: 60%;
    margin:  0 auto;
  }
  .bnr-2-i .botton-img {
    width: 96%;
    height: 150px;
    left: 2%;
    background-image: url("../img/banner-assets/MOBILE-BUBBLES.svg");
  }
}
