/* Media Less than 830px  */
@media screen and (min-width: 512px) and (max-width: 829px) {
  .media-lnks {
    width: 480px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .media-lnks .media-lnks-b .media-lnks-i {
    width: 33.33%;
  }

  .media-lnks .media-lnks-b .media-lnks-i a {
    display: block;
    margin: 0 auto;
  }

  /* base */
  .base-1 {
    width: 480px;
    display: block;
  }
  /* base */

  /* primary nav */
  .primary-nav .primary-nav-b > li:not(.nav-dropdown) {
    display: none;
  }
  .nav-dropdown > .show-on-mob {
    display: table-cell !important;
  }

  .nav-dropdown > a:not(.show-on-mob) {
    display: none !important;
  }

  .nav-dropdown .nav-dropdown-b > .show-on-mob {
    display: block !important;
  }
  /* primary nav */
  /* Home Banner */
  .home-bnr .home-bnr-b .label-1 {
    display: none;
  }
  .home-bnr .home-bnr-b .label-1.for-touch {
    padding: 0 16px;
    display: block;
  }
  .home-bnr .home-bnr-b .content {
    width: 480px;
    padding-left: 16px;
    padding-right: 16px;
  }
  .home-bnr:before {
    background-image: url(../img/safe_network_bg.png);
  }
  .home-bnr:after {
    display: none;
  }

  .home-bnr .home-bnr-b .downloads.desktop-view {
    margin-top: 100px;
  }

  .home-bnr .home-bnr-b .download-lnk-btn, .home-bnr .home-bnr-b .download-i .desc {
    display: none;
  }

  .home-bnr .home-bnr-b .downloads.desktop-view .download-i {
    width: 100%;
    margin-bottom: 80px;
  }
  .home-bnr .home-bnr-b .downloads.desktop-view .download-lnk-btn, .home-bnr .home-bnr-b .downloads.desktop-view .download-i .desc {
    display: inline-block;
  }

  .no-support-content.desktop-view {
    display: none !important;
  }

  .no-support-content {
    display: block;
  }
  .home-bnr .home-bnr-b .downloads {
    margin-top: 50px;
    padding-bottom: 50px;
  }
  /* #Home Banner */

  .typing.lg {
    line-height: 36px;
  }

  .typing.lg:after {
    height: 32px;
  }

  /* Page Banner */
  .page-banner {
    height: 300px;
  }

  .page-banner.home-like {
    height: 370px;
  }
  /* #Page Banner */

  /* Page 1 */
  .page-1 {
    width: 512px;
    padding-left: 0;
    padding-right: 0;
  }

  .page-1 .title {
    font-size: 38px;
    line-height: 49px;
  }
  /* #Page 1 */
  .layout-1 {
    width: 100%;
  }
  .layout-1 .lsec {
    width: 100%;
    padding: 0;
  }
  .layout-1 .rsec {
    width: 100%;
    padding: 0;
  }

  /* Page 2 */
  .page-2 {
    width: 480px;
  }

  .page-2 .title {
    font-size: 38px;
    line-height: 49px;
  }

  .page-2 .page-2-media {
    display: block;
  }

  .page-2 .page-2-media .media-src {
    width: 480px;
    margin: 0 auto;
    display: block;
  }

  .page-2 .page-2-media .media-content {
    width: 100%;
    display: block;
    padding-top: 40px;
    padding-left: 24px;
  }
  /* #Page 2 */

  /* POST 1 */
  .post-1 {
    width: 480px;
    display: block;
  }
  .post-1 .media {
    width: 100%;
    padding: 0 16px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    text-align: center;
  }
  .post-1 .media img  {
    display: block;
    width: 100%;
    height: 360px;
    margin: 0 auto;
    padding: 0;
  }
  .post-1 .content {
    width: 100%;
    text-align: left;
    padding: 350px 16px 0;
    position: relative;
    z-index: 99;
  }
  .post-1 .content .title {
    margin-top: 0;
    text-align: center;
  }
  .post-1 .content .p {
    text-align: justify;
  }
  /* #POST 1 */

  /* MaidSafe Team Banner height changes */
  .page-banner.maidsafe-team {
    height: 300px;
  }
  /* #MaidSafe Team Banner height changes */


  /* Box 1 */
  .box-1 .item:first-child {
    width: 100%;
    padding: 0;
  }

  .box-1 .item:nth-child(2),.box-1 .item:last-child  {
    width: 50%;
    padding: 30px 0 0 0;
  }

  .box-1 .item:nth-child(2) {
    padding-right: 15px;
  }

  .box-1 .item:last-child {
    padding-left: 15px;
  }
  /* #Box 1 */

  /* Box 2 */
  .box-2 .item {
    float: left;
  }

  .box-2 .item:first-child {
    padding-right: 16px;
  }

  .box-2 .item:last-child {
    padding-left: 16px;
  }
  /* #Box 2 */

  /* Footer */
  .app-footer .app-footer-b {
    width: 480px;
  }
  .footer-wig-a-cont {
    padding: 2.5px 0;
  }
  .app-footer .app-footer-r.top {
    width: 100%;
  }
  .app-footer-btns-b {
    justify-content: flex-start;
  }
  .footer-wig-b {
    width: 220px;
    min-height: 201px;
  }
  .footer-wig-b:nth-child(even) {
    width: 50%;
  }
  /* #Footer */

  /* Content 1 */
  .content-1 {
    width: 480px;
  }
  /* #Content 1 */

  /* Post 2 */
  .post-2 {
    width: 480px;
    display: block;
  }
  .post-2 > .title {
    width: 100%;
    padding: 0;
    text-align: center;
    transform: translateX(0);
  }
  .post-2 .post-2-content {
    display: block;
    width: 100%;
  }

  .post-2 .post-2-content p {
    text-align: justify;
  }
  .post-2 .post-2-media {
    display: block;
    width: 100%;
    padding: 20px 0;
  }
  .post-2 .post-2-media img {
    margin: 0;
    padding: 0;
    width: auto;
  }
  .post-2 .post-2-media iframe {
    padding: 0;
    margin: 0;
  }
  .post-2.flip .post-2-content, .post-2.flip .post-2-media {
    transform: translateX(0);
  }
  /* #Post 2 */

  /* Team Img*/
  .team-img .team-img-i {
    width: 20%;
    height: auto;
  }
  /* #Team Img*/
  /* Post 3 */
  .post-3 {
    width: 100%;
    overflow: hidden;
  }
  .post-3 .post-3-cont .post-3-cont-i {
    width: 480px;
  }
  .post-3 .post-3-cont .ques span {
    display: block;
    padding-right: 0;
    padding-bottom: 20px;
  }
  /* #Post 3 */
  /* Overlay */
  .overlay .overlay-cont {
    width: 480px;
  }
  .overlay .overlay-cont .overlay-cont-i iframe {
    height: 315px;
  }
  /* #Overlay */
  /* Content 3 */
  .content-3 {
    width: 480px;
  }
  /* #Content 3 */

  /* Roadmap */
  .roadmap {
    /*display: flex;*/
    height: auto;
    min-height: 600px;
  }
  .roadmap .roadmapNav {
    width: 30%;
    height: 100%;
    min-height: inherit;
  }
  .roadmap .roadmapChart {
    width: 70%;
  }
 .roadmapBreadcrumb .breadcrumb-i {
    padding-bottom: 8px;
  }
  .roadmapSvg {
    display: none;
  }
  .roadmapChart-h {
    padding: 0;
  }
  .roadmapChart-h-menu {
    display: none;
  }
  .roadmapChart-h-t {
    width: 100%;
    color: white !important;
    padding-left: 20px;
    line-height: 50px;
    position: relative;
  }
  .roadmapChart-h-t:before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
   .roadmapChart-h-t  > div {
    width: 100%;
    padding-right: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .roadmapChart-h-t .info-icon {
    display: none !important;
  }
  .roadmapChart-h-desc {
    /*display: block !important;*/
    /*padding: 8px 20px 0;*/
    display: none;
  }
  .roadmapChart-h-desc-title {
    display: block;
    padding: 20px 0 8px;
    font-size: 19px;
    color: #282828;
    font-weight: 600;
  }
  .al-content {
    width: 480px;
  }

  .al-download-sec .al-download-lnk {
    display: none;
  }

   /* list content */
   .list-content .list-content-b {
     width: 480px;
     margin: 0 auto;
   }

   .list-content .quote {
     text-align: center;
   }
   .list-content .quote span, .list-content .quote button {
     float: none;
   }
   .list-content .quote span {
     display: block;
     line-height: 24px;
   }
   .list-content .quote .al-btn {
     margin-top: 20px;
   }
   .list-content .tbl-view {
     display: block;
   }
   .list-content .tbl-c {
     width: 100% !important;
     display: block !important;
     /*border: none !important;*/
     /*padding: 0 !important;*/
     /*margin: 0 !important;*/
   }
   /*.list-content .tbl-c:not(:last-child) {
     padding-bottom: 60px !important;
   }*/
   .list-content.type-6 .title {
     width: 100%;
     display: block;
   }
   .download-btn {
     margin: 0 0 20px;
   }
   /* list content */
   .platform.unix-platform .mob-alert {
     display: block;
   }

   .al-download {
     padding: 0;
   }

   .al-download .platform {
     display: none !important;
   }

   .al-download .desktop-view.platform {
     margin-top: 100px;
     display: block !important;
     padding: 0 0 140px;
   }

   .al-download .desktop-view .al-download-i {
     width: 100%;
     margin-bottom: 80px;
   }

   .al-bg-blue .al-download .platform {
     margin-top: 0;
   }

   .al-bg-blue .al-download .platform .al-download-i:last-child {
     margin-bottom: 0;
   }

   .al-media {
     width: 100%;
     height: auto;
   }

   .al-media img {
     height: auto;
     width: 100%;
   }
   .al-banner:after {
     background-image: url(../img/alpha_mobile.png);
   }
   .al-banner:before {
     display: none;
   }
   .download-sec .download-sec-media {
     margin-bottom: 80px;
   }
   .download-sec .download-sec-media, .download-sec .download-sec-cnt {
     width: 100%;
   }
   .downloading-banner:before {
     display: none;
   }
   .al-bg-blue.touch-view {
     display: none;
   }
   .al-bg-blue .al-download .platform.desktop-view {
     padding: 0;
   }
   .downloading-banner:after {
     background-image: url(../img/alpha_mobile.png);
   }
   .b2f-bnr .bnr-img img {
     width: 100%;
   }

   .b2f-bnr:before {
     background-image: url(../img/safe_network_bg.png);
   }
   .b2f-bnr:after {
     display: none;
   }

   /* timeline */
  .timeline {
    display: block;
    margin-top: 40px;
    position: relative;
  }
  .timeline .title,
  .timeline .cntr {
    display: block;
  }
  .timeline .title {
    margin-bottom: 40px;
    padding-left: 58px;
  }
  .timeline .cntr {
    padding-left: 2px; 
  }
  .timeline .timeline-i {
    padding-left: 58px;
  }
  .timeline-connect {
    position: absolute;
    width: 100%;
    min-height: 200px;
    top: 0;
    left: 2px;
  }
  .timeline .timeline-i .highlight {
    position: relative;
    padding-left: 0;
    padding-right: 0;
    z-index: 1;
  }
  .timeline .timeline-i .highlight:before, .timeline .timeline-i .highlight:after {
    content: '';
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
    z-index: 0;
  }
  .timeline .timeline-i .highlight:before {
    left: -100%;
  }
  .timeline .timeline-i .highlight:after {
    right: -100%;
  }
  /* timeline */
}
