// Colours
$colr-white: #FFFFFF
$colr-grey: #606060
$colr-blue: #5894D5
$colr-blue-2: #99BCE3
$colr-yellow: #FFD23D
$colr-sandle: #F8EFBF
$colr-light-blue: #EFF4FB
// Colours from safenetwork.tech
$colr-spark-red: #F0572A
$colr-pale-red: #F29F86
$colr-chennai-orange: #FFB017
$colr-limoncello-yellow: #F2E14C
$colr-warm-white: #F8F3EB
$colr-shelf-blue: #2B344B
$colr-light-grey: #F5F4F2
$colr-comp-green: #2B8057
$colr-zingy-sky-blue: #EAFFFD
$colr-dawn-pink: #FFEEEE
$colr-eye-searing-red: #FF3C00
$colr-unit-green: #496C7D
$colr-pinky-grey: #DDD6D6
$colr-deep-blue: #1F3A80
$colr-guardian-blue: #002D5F
$colr-silver-grey: #C2BBBB

$site-logo-width: 146px
$site-logo-sm-width: 140px

$base-width: 1400px
$base-lg-width: 960px
$base-md-width: 700px
$base-sm-width: 700px
$base-xs-width: 100%

// dimensions
$stnd-width: 1638
$stnd-lg-width: 1400
$stnd-md-width: 960
$stnd-sm-width: 800
$stnd-xs-width: 375
$xl-width: 1638px
$lg-width: 1400px
$md-width: 960px
$sm-width: 800px
$xs-width: 375px

$photostrip-height-xl: 400px
$photostrip-height-l: 360px
$photostrip-height-m: 260px
$photostrip-height-s: 180px
$photostrip-height-xs: 120px

$image-url: '../assets/imgs'
$url-home-bnr-bg: '#{$image-url}/home_bnr.svg'
// Careers Graphics
$url-careers-bnr-bg: '#{$image-url}/careers_bnr.svg'
$url-careers-main-bg: '#{$image-url}/office/office_hero.jpg'
// Careers - Office
$url-office-strip-xl: '#{$image-url}/office/office_strip_xl.jpg'
$url-office-strip-l: '#{$image-url}/office/office_strip_l.jpg'
$url-office-strip-m: '#{$image-url}/office/office_strip_m.jpg'
$url-office-strip-s: '#{$image-url}/office/office_strip_s.jpg'
$url-office-strip-xs: '#{$image-url}/office/office_strip_xs.jpg'
$url-office-01: '#{$image-url}/office/office1.jpg'
$url-office-02: '#{$image-url}/office/office2.jpg'
$url-office-03: '#{$image-url}/office/office3.jpg'
$url-office-04: '#{$image-url}/office/office4.jpg'
// Careers - Benefits
$url-benefit-holidays: '#{$image-url}/benefits/holiday.png'
$url-benefit-pension: '#{$image-url}/benefits/pension.png'
$url-benefit-ebt: '#{$image-url}/benefits/ebt.png'
$url-benefit-cycle: '#{$image-url}/benefits/cycle.png'
$url-benefit-chillout: '#{$image-url}/benefits/chill.png'
$url-benefit-casual: '#{$image-url}/benefits/casual.png'
$url-benefit-flexible: '#{$image-url}/benefits/hours.png'
$url-benefit-remote: '#{$image-url}/benefits/remote_wrk.png'
$url-benefit-build: '#{$image-url}/benefits/safenetwork.png'
$url-benefit-workwith: '#{$image-url}/benefits/team.png'
$url-benefit-opensrc: '#{$image-url}/benefits/opensrc.png'

// Other graphics
$url-arrow-red: '#{$image-url}/arrow_red.svg'
$url-drop-arrow-blue: '#{$image-url}/drop_arrow_blue.svg'
$url-drop-arrow-white: '#{$image-url}/drop_arrow_white.svg'
$url-footer-btns: '#{$image-url}/footer_btns_new.svg'

// The team profile pictures
$url-team-adam: '#{$image-url}/team/adam.jpg'
$url-team-andreas: '#{$image-url}/team/andreas.jpg'
$url-team-ashwin: '#{$image-url}/team/ashwin.jpg'
$url-team-bartlomiej: '#{$image-url}/team/bartlomiej.jpg'
$url-team-ceilidh: '#{$image-url}/team/ceilidh.jpg'
$url-team-david: '#{$image-url}/team/david.jpg'
$url-team-dgeddes: '#{$image-url}/team/dgeddes.jpg'
$url-team-dug: '#{$image-url}/team/dgeddes.jpg'
$url-team-francis: '#{$image-url}/team/francis.jpg'
$url-team-fraser: '#{$image-url}/team/fraser.jpg'
$url-team-gabriel: '#{$image-url}/team/gabriel.jpg'
$url-team-hunter: '#{$image-url}/team/hunter.jpg'
$url-team-jim: '#{$image-url}/team/jim.jpg'
$url-team-jon: '#{$image-url}/team/jon.jpg'
$url-team-josh: '#{$image-url}/team/josh.jpg'
$url-team-kayley: '#{$image-url}/team/kayley.jpg'
$url-team-krishna: '#{$image-url}/team/krishna.jpg'
$url-team-lionel: '#{$image-url}/team/lionel.jpg'
$url-team-marcin: '#{$image-url}/team/marcin.jpg'
$url-team-nadia: '#{$image-url}/team/nadia.png'
$url-team-nick: '#{$image-url}/team/nick.jpg'
$url-team-nikitia: '#{$image-url}/team/nikita.jpg'
$url-team-pierre: '#{$image-url}/team/pierre.jpg'
$url-team-qi: '#{$image-url}/team/qi.jpg'
$url-team-ravi: '#{$image-url}/team/ravi.jpg'
$url-team-sarah: '#{$image-url}/team/sarah.jpg'
$url-team-shankar: '#{$image-url}/team/shankar.jpg'
$url-team-sharon: '#{$image-url}/team/sharon.jpg'
$url-team-spandan: '#{$image-url}/team/spandan.jpg'
$url-team-srini: '#{$image-url}/team/srini.jpg'
$url-team-stephen: '#{$image-url}/team/stephen.jpg'
$url-team-victoria: '#{$image-url}/team/victoria.jpg'
$url-team-viv: '#{$image-url}/team/viv.jpg'
