<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
    if (window.location.hostname === 'maidsafe.net') {
      (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
              function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
          e=o.createElement(i);r=o.getElementsByTagName(i)[0];
          e.src='//www.google-analytics.com/analytics.js';
          r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
      ga('create','UA-32549768-1');ga('send','pageview');
    }
</script>

<!-- OneTrust Cookies Consent Notice (Production CDN, maidsafe.net, en-GB) start -->

<script src="https://cdn.cookielaw.org/consent/b8397a8a-89f0-4c35-bed3-a2bd4157b8f7.js" type="text/javascript" charset="UTF-8"></script>

<script type="text/javascript">

function OptanonWrapper() { }

</script>

<!-- OneTrust Cookies Consent Notice (Production CDN, maidsafe.net, en-GB) end -->
