@media screen and (min-width: $lg-width) and (max-width: $xl-width - 1)
  .hm
    .hm-b
      .hm-bnr,
      .hm-intro,
      .hm-safenet
        padding: get-lg-vw(90px) 0
      .hm-bnr
        &:after
          right: get-lg-vw(50px)
        .hm-bnr-b
          .hm-bnr-para
            width: 60%
      .hm-intro
        .hm-intro-b
          .hm-intro-p
            width: 100%
