<!-- Site Footer -->
<footer class="app-footer">
  <div class="app-footer-b">
    <div class="app-footer-r top">
      <div class="app-footer-btns-b clearfix">
        <div class="app-footer-btns community">
          <a href="https://forum.safenetwork.io/" target="_blank"></a>
        </div>
        <div class="app-footer-btns slack">
          <a href="https://maidsafe.slack.com/" target="_blank"></a>
        </div>
        <div class="app-footer-btns youtube">
          <a href="https://www.youtube.com/channel/UChDck5R_C9i6XTrS66tbwOw" target="_blank"></a>
        </div>
        <div class="app-footer-btns reddit">
          <a href="https://www.reddit.com/r/maidsafe" target="_blank"></a>
        </div>
        <div class="app-footer-btns twitter">
          <a href="https://twitter.com/maidsafe" target="_blank"></a>
        </div>
        <div class="app-footer-btns meetup">
          <a href="https://safenetwork.org/meetup-groups/" target="_blank"></a>
        </div>
      </div>
    </div>
    <div class="spliter"></div>
    <div class="app-footer-r middle">
      <!-- Features -->
      <div class="footer-wig-b">
        <div class="footer-wig-b-cont">
          <h3><a href="./features.html">Features</a></h3>
          <ul>
            <li><a href="./features.html#self-auth">Self-Authentication</a></li>
            <li><a href="./features.html#self-encryption">Self-Encryption</a></li>
            <li><a href="./features.html#distributed-network">Distributed Network</a></li>
            <li><a href="./features.html#data-availability">Data Availability</a></li>
            <li><a href="./features.html#de-duplication">Deduplication</a></li>
          </ul>
        </div>
      </div>
      <!-- #Features -->
      <!-- Safecoin -->
      <div class="footer-wig-b">
        <div class="footer-wig-b-cont">
          <h3><a href="./safecoin.html">Safecoin</a></h3>
          <ul>
            <li><a href="./safecoin.html#global-distribution">Global Distribution</a></li>
            <li><a href="./safecoin.html#farming">Farming</a></li>
            <li><a href="./safecoin.html#resource-economy">Resource Economy</a></li>
            <li><a href="./safecoin.html#proof-of-resource">Proof of Resource</a></li>
            <li><a href="./safecoin.html#new-marketplace">New Marketplace</a></li>
          </ul>
        </div>
      </div>
      <!-- #Safecoin -->
      <!-- Company -->
      <div class="footer-wig-b">
        <div class="footer-wig-b-cont">
          <h3><a href="./company.html">Company</a></h3>
          <ul>
            <li><a href="./company.html#who-we-are">Who we are</a></li>
            <li><a href="./company.html#what-drives-us">What drives us</a></li>
            <li><a href="./careers.html">Join our team</a></li>
            <li><a href="./roadmap_dev.html">Roadmap</a></li>
            <li><a href="./assets.html">Brand Assets</a></li>
            <li><a href="./contact.html">Contact</a></li>
          </ul>
        </div>
      </div>
      <!-- #Company -->
      <!-- FAQ -->
      <!-- <div class="footer-wig-b">
        <div class="footer-wig-b-cont">
          <h3><a href="./faq.html">FAQs</a></h3>
          <ul>
            <li><a href="./faq.html#faq">Frequently asked questions</a></li>
            <li><a href="./faq.html#unanswered">Question still not answered?</a></li>
          </ul>
        </div>
      </div> -->
      <!-- #FAQ -->
    </div>
    <div class="app-footer-r bottom">
      <div class="footer-hz-li">
        <ul>
          <li><a href="./disclaimer.html">Disclaimer</a></li>
          <li><a href="./privacy.html">Privacy</a></li>
          <li><a href="./credits.html">Credits</a></li>
          <li>
            <a href="http://creativecommons.org/licenses/by-sa/4.0/" target="_blank">
              <img src="img/license_button.png" alt="License Button">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!-- #Site Footer -->
