<!-- Header -->
<header class="{{page.headerClass}}">
  <div class="header-b clearfix">
    <div class="header-lt">
      <div class="site-logo">
        <a class="gray" href="./"><img src="./img/logo_white.svg" alt="MaidSafe Logo" /></a>
        <a class="original" href="./"><img src="./img/logo_colour.svg" alt="MaidSafe Logo" /></a>
      </div>
    </div>
    <div class="header-rt">
      <div class="primary-nav">
        <ul class="primary-nav-b clearfix">
          <li><a href="./features.html">Features</a></li>
          <li><a href="./safecoin.html">Safecoin</a></li>
          <li><a href="./company.html">Company</a></li>
          <li class="nav-dropdown" id="navDropdown">
            <a href="#">More<span class="icn"></span></a>
            <a class="show-on-mob" href="#">Menu<span class="icn"></span></a>
            <ul class="nav-dropdown-b">
              <li class="show-on-mob"><a href="./features.html">Features</a></li>
              <li class="show-on-mob"><a href="./safecoin.html">Safecoin</a></li>
              <li class="show-on-mob"><a href="./company.html">Company</a></li>
              <li><a href="http://blog.maidsafe.net/" target="_blank">Blog</a></li>
              <li><a href="http://visualiser.maidsafe.net:3000/roadmap_dev.html">Roadmap</a></li>
              <li><a href="./contact.html">Contact</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
<!-- /Header -->
